body{
    h2{
        text-align: center;
    }
}

//Gridbox for Project 1

.body__Project1{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas: 
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project1__img{
        grid-area:img;
        justify-self: center;
    }

    .body__Project1__heading{
        grid-area: heading-a;
    }

    .body__Project1__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project1__tag{
        grid-area: tag;
    }
}

@media screen and (min-width: 369px) {
    body{
        .body__Project1{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

        .body__Project2{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

        .body__Project3{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

        .body__Project4{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

        .body__Project5{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

        .body__Project6{
            display: grid;
            grid-template-columns: .8fr 1fr .8fr;
            grid-template-areas: 
            ". img ."
            ". heading-a ."
            ". tag ."
            ;
        }

    }
}

//Gridbox for Project 2

.body__Project2{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas:
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project2__img{
        grid-area:img;
        justify-self: center;
    }

    .body__Project2__heading{
        grid-area: heading-a;
    }

    .body__Project2__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project2__tag{
        grid-area: tag;
    }

}

//Gridbox for Project 3

.body__Project3{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas:
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project3__img{
        grid-area:img;
        justify-self: center;
    }

    .body__Project3__heading{
        grid-area: heading-a;
    }

    .body__Project3__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project3__tag{
        grid-area: tag;
    }

}

//Gridbox for Project 4

.body__Project4{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas:
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project4__img{
        grid-area: img;
        justify-self: center;
    }

    .body__Project4__heading{
        grid-area: heading-a;
    }

    .body__Project4__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project4__tag{
        grid-area: tag;
    }

}

//Gridbox for Project 5

.body__Project5{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas:
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project5__img{
        grid-area:img;
        justify-self: center;
    }

    .body__Project5__heading{
        grid-area: heading-a;
    }

    .body__Project5__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project5__tag{
        grid-area: tag;
    }

}

//Gridbox for Project 6

.body__Project6{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-areas:
    ". img ."
    ". heading-a ."
    ". tag ."
    ;
    grid-gap: 5px;
    .body__Project6__img{
        grid-area:img;
        justify-self: center;
    }

    .body__Project6__heading{
        grid-area: heading-a;
        justify-self: left;
    }

    .body__Project6__a{
        grid-area: heading-a;
        justify-self: end;
    }

    .body__Project6__tag{
        grid-area: tag;
    }

}