@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');
$primaryFont: "Cormorant";
$secondaryFont: "Inter";

//Nav styles & separates name & links
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //
    .nav__links{
        justify-content: flex-end;
    }

    //TODO: List drop down icon
    .nav__links ul{
        list-style-type: none;
    }
    
    .nav__a{
        justify-content: flex-start;
    }

}

//Merging nav * breaks flexbox, so placed it outside
nav *{
    font-family: $secondaryFont;
}

