@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');
$primaryFont: "Cormorant";
$secondaryFont: "Inter";

//Nav styles & separates name & links
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //TODO: List drop down icon!

    //Removes bullet points & makes it horizontal
    .nav__links ul{
        display: flex;
        list-style: none;
        list-style-type: none;
    }

    //Space out links
    .nav__links ul li{
        padding: 10px;
    }
    
    //Sets name to the right
    .nav__a{
        justify-content: flex-start;
    }

}

//Workaround: Merging nav * breaks flexbox, so 
//nav * has its own block for deter interference
nav *{
    font-family: $secondaryFont;
}
