.section__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section__h2{
        margin:10px
    }

    //Flexbox for img..., Need to double check
    .section__profile{
        order: 1;
        //Profile sizing & positioning
        img{
            width: 300px;
            height: 400px;
            margin: 10px;
        }
    }

    //Center paragraph in mobile
    .section__p{
        text-align: center;
        order: 2;
    }

}

@media screen and (min-width: 769px){
    .section__about{
        display: flex;
        flex-direction: row;
        .section__left_side{
            justify-content: flex-start;
        }
    }

}

//Flexbox for experience
.section__expint{
    display: flex;
    flex-direction: column;
    
    .section__experience{
        display: flex;
        flex-direction: column;
        h3{
            padding: 10px;
        }
    
        //TODO: Drop-down List!
        ul{
            padding: 10px;
            border-bottom: 1px solid pink;
        }
    }

    .section__interest{
        display: flex;
        flex-direction: column;
        h3{
            padding: 10px;
        }
    
        //TODO: Drop-down List!
        ul{
            padding: 10px;
            border-bottom: 1px solid pink;
        }
    }
}

// .section__experience{
//     display: flex;
//     flex-direction: column;
//     h3{
//         padding: 10px;
//     }

//     //TODO: Drop-down List!
//     ul{
//         padding: 10px;
//         border-bottom: 1px solid pink;
//     }
// }

// //Flexbox for interest

// .section__interest{
//     display: flex;
//     flex-direction: column;
//     h3{
//         padding: 10px;
//     }

//     //TODO: Drop-down List!
//     ul{
//         padding: 10px;
//         border-bottom: 1px solid pink;
//     }
// }

@media screen and (min-width: 769px){
    .section__expint{
        display: flex;
        flex-direction: row;
        .section__experience{
            flex: 1;
        }
        .section__interest{
            flex:1;
        }
    }
}


//Flexbox for contacts

.section__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        border: 1px solid pink;
        text-align: center;
        line-height: 6.5vh;
        width: 200px;
        height: 60px;
    }
    h1{
        padding: 10px;
    }
}

