.section__about{

    h2{
        margin:10px
    }
    //Flexbox for img..., Need to double check
    .section__profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //Profile sizing & positioning
        img{
            width: 300px;
            height: 400px;
            margin: 10px;;
        }
    }
    //Center paragraph
    .section__p{
        text-align: center;
    }

}

//Flexbox for experience

.section__experience{
    display: flex;
    flex-direction: column;
    h3{
        padding: 10px;
    }

    //TODO: Drop-down List!
    ul{
        padding: 10px;
        border-bottom: 1px solid pink;
    }
}

//Flexbox for interest

.section__interest{
    display: flex;
    flex-direction: column;
    h3{
        padding: 10px;
    }

    //TODO: Drop-down List!
    ul{
        padding: 10px;
        border-bottom: 1px solid pink;
    }
}

//Flexbox for contacts

.section__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        border: 1px solid pink;
        text-align: center;
        line-height: 6.1vh;
        width: 200px;
        height: 60px;
    }
    h1{
        padding: 10px;
    }
}

